.section-faq {
  padding-top: 59px;
  padding-bottom: 71px;

  @include media("<md") {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .h2 {
    margin-bottom: 14px;
    text-align: center;
  }

  .text-holder {
    margin-bottom: 39px;
    text-align: center;

    @include media("<md") {
      margin-bottom: 25px;
    }
  }

  .accordion {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
  }

  .accordion-item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
